<div class="filter-wrapper">
  <h3>Фильтры</h3>
  <div class="filter-inputs">

      <input class="filter-item input-filter" placeholder='Имя'
      [(ngModel)]="nameFilterValue" (ngModelChange)="filter()">
      <span class="bar"></span>




    <ng-multiselect-dropdown
      class="dropDown filter-item"
      [placeholder]="'компания'"
      [settings]="dropdownSettings"
      [data]="dropdownList"
      [(ngModel)]="selectedItems"
      (onSelect)="onItemSelect($event)"
      (onSelectAll)="onSelectAll($event)"
    >
    <option *ngFor="let company of dropdownList">
      {{company}}
    </option>

    </ng-multiselect-dropdown>


    <table class="filter-item">
      <thead>
        <th>
          Город
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let city of citiesList">
            <input type="radio"
              name="cityRadio"
              value="{{city}}"
              [(ngModel)]="cityFilterValue"
              (ngModelChange)="filter()">
            {{city}}
        </tr>
      </tbody>
    </table>


  </div>
</div>
